<% provide(:title, "ホーム画面") %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@4" %>

<main>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <% if logged_in? %>
      <div class="row profile">
        <div class="col-md-3 col-md-offset-2 avatar text-center">
          <% if current_user.avatar_image.attached? %>
            <%= image_tag current_user.avatar_image.variant(:display) %>
          <% else %>
            <%= gravatar_for current_user %>
          <% end %>
          <p><%= current_user.name %></p>
        </div>
        <div class="col-md-2">
          <h2>自己紹介</h2>
          <p class="user-profile"><%= current_user.profile_text %></p>
          <%= link_to "自己紹介を編集する", edit_user_path(current_user), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="chart text-center">
        <h2>学習チャート</h2>
        <%= link_to "編集する", items_path(month: Time.now.month), class: "btn btn-primary" %>
        <%= column_chart [
        { name: "バックエンド", data: @back_end },
        { name: "フロントエンド", data: @front_end },
        { name: "インフラ", data: @infra }
        ], height: "400px" %>
      </div>
    <% else %>
      <div class="top">
        <h2 class="title text-center">ログイン</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
            <div class="form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, :class => "form-control", :placeholder => "example@example.com" %>
            <div>
            <div class="form-group">
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
            </div>
            <div class="form-group">
              <%= f.submit "ログインする", class: "btn btn-primary button" %>
              <%= link_to "新規登録", signup_path, class: "btn btn-primary button" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>