<main>
  <div class="container">
    <%= form_tag(items_path, method: :get) do %>
      <div class="form-group pull-down">
        <%= select_tag 'month', options_for_select((1..12).map { |m| ["#{m}月", m] }, params[:month].to_i), onchange: 'this.form.submit();' %>
      </div>
    <% end %>
    <% @categories.each do |category| %>
      <div class="category">
        <h4><%= category.name %></h4>
        <%= link_to "項目を追加する", new_category_item_path(category, month: @month), class: "btn btn-primary btn-sm", style: "float: right; margin-bottom: 10px; width: 20%;" %>
        <table class="table table-hover" border="1" style="border-collapse: collapse;">
          <thead>
            <tr class="table-header">
              <th class="text-left" width="35%">
                項目名
              </th>
              <th class="text-center" width="30%">
                学習時間
              </th>
              <th class="text-center" width="20%"></th>
              <th class="text-center" width="15%"></th>
            </tr>
          </thead>
          <tbody>
            <% category.items.where(month: @month).each do |item| %>
              <tr>
                <td scope="row" style="vertical-align: middle;">
                  <%= item.name %>
                </td>
                <%= form_with(model: item, local: true, url:category_item_path(category, item)) do |f| %>
                  <td class="text-center">
                    <%= f.select :study_time, (0..5).map { |i| ["#{i * 1}", i * 1] }, { include_blank: true }, class: "pull-down form-control" %>
                  </td>
                  <td class="text-center">
                    <%= f.submit "学習時間を保存する", class: "btn btn-primary btn-sm" %>
                  </td>
                <% end %>
                <td class="text-center">
                  <%= button_to "削除する", category_item_path(category, item, {month: @month}), method: :delete, data: { turbo_confirm: "削除していいですか?" }, class: "btn btn-primary btn-sm delete" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</main>

<% if flash.present? %>
  <%= render 'confirm_modal' %>
<% end %>