<div class="top">
  <h1><%= @category.name %>に項目を追加</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @item, local: true, url:items_path ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "項目名" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :study_time, "学習時間" %>
      <%# f.text_field :study_time %>
      <%= f.select :study_time, (0..10).map { |i| ["#{i * 10}", i * 10] }, { include_blank: true }, class: "form-control" %>
      <p>分単位で入力してください</p>

      <%= f.submit "追加する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>